<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maps.wrapper.test.app">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RouteDemoActivity"/>
        <activity android:name=".TagsDemoActivity"/>
        <activity android:name=".GeocodingActivity"/>
        <activity android:name=".UiSettingsDemoActivity"/>
        <activity android:name=".PolygonDemoActivity" />
        <activity android:name=".VisibleRegionDemoActivity"/>
        <activity android:name=".EventsDemoActivity"/>
        <activity android:name=".PolylineDemoActivity"/>
        <activity android:name=".CloseInfoWindowDemoActivity" />
        <activity android:name=".GroundOverlayDemoActivity" />
        <activity android:name=".LayersDemoActivity" />
        <activity android:name=".IndoorDemoActivity" />
        <activity android:name=".CameraClampingDemoActivity" />
        <activity android:name=".CircleDemoActivity" />
        <activity android:name=".CameraDemoActivity" />
        <activity android:name=".BasicMapDemoActivity" />
        <activity android:name=".TileOverlayDemoActivity" />
        <activity android:name=".TileCoordinateDemoActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LocationSourceDemoActivity" />
        <activity android:name=".LiteDemoActivity" />
        <activity android:name=".LiteListDemoActivity" />
        <activity android:name=".MarkerDemoActivity" />
        <activity android:name=".MapInPagerDemoActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
    </application>

</manifest>